/* ============================
   LAYOUT BASE
============================ */
.layout {
  display: flex;
  height: 100vh;
  width: 100%;
  background: #eef1f6;
  font-family: 'Inter', sans-serif;
}
/* ============================
   SIDEBAR
============================ */
.sidebar {
  width: 240px;
  background: #171336;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
}


/* LOGO */
.logo {
  font-size: 22px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}


/* ============================
   MENU ITENS
============================ */
.menu-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logo-icon {
  font-size: 22px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #c9d1d9;
  padding: 10px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 15px;
}

/* SLIDE INDICATOR */
.menu-item::before {
  content: "";
  position: absolute;
  left: -12px;
  height: 0%;
  width: 4px;
  background: #4a55ff;
  border-radius: 10px;
  transition: 0.3s;
}

.menu-item:hover::before {
  height: 70%;
}

.menu-item:hover {
  background: #1b222d;
  color: #fff;
}
.menu-icon {
  font-size: 22px;
}
/* ============================
   BOTÃO DE SAIR
============================ */
.logout-btn {
  margin-top: 40px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  background: #ff4d4d;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}


.logout-btn:hover {
  background: #e63a3a;
}

/* ============================
   CONTEÚDO PRINCIPAL
============================ */
.main-content {
  flex: 1;
  padding: 40px 60px;
}

.menu-title {
  font-size: 28px;
  font-weight: 700;
  color: #1d1f33;
}

.accent {
  color: #3769ff;
}
