<div class="login-wrapper">

  <div class="login-left">
    <div class="login-card">

      <h2 class="titulo">
        Bem-vindo(a)<br>
        <span>Acesso ao Sistema</span>
      </h2>

      <form (ngSubmit)="fazerLogin()">

        <div class="input-group">
          <label>E-mail</label>
          <input type="email" [(ngModel)]="email" name="email" required />
        </div>

        <div class="input-group">
          <label>Senha</label>
          <input type="password" [(ngModel)]="senha" name="senha" required />
        </div>

        <div class="options">
  <a routerLink="/recuperarsenha">Esqueci a senha</a>
          <a href="#">Criar conta</a>
        </div>

        <button class="btn-login" type="submit">
          Entrar
        </button>



      </form>

    </div>
  </div>

  <!-- Lado direito com logo -->
  <div class="login-right">
    <img src="assets/logonew.png" class="logo-right" alt="Logo ERP">

    <div class="info-text">
      Sistema moderno, seguro e eficiente para sua empresa.
    </div>
  </div>

</div>
