html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: auto;      /* ← ESSENCIAL */
  min-height: 100vh; /* ← altura mínima correta */
}


/* FONTES LOCAIS (CORRETO PARA DESKTOP) */
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
}

body {
  font-family: 'Inter', sans-serif;
}


